/*****************************************************************************/
/* Colors */
/*****************************************************************************/
$blue-dark: #3e5a9b;

$red-dark: #96322e;

$teal-light: #afcccc;
$teal-dark: #a7c2c2;

$main-dark: #313131;

$text-color: #343434;
