{% extends '../master/_base.swig' %}

{% block interiorHeader %}
  <h1 class="interiorHeader_title">Your payment is on its way</h1>

  <p class="interiorHeader_text">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.</p>
{% endblock %}

{% block contentClass %}{% endblock %}

{% block content %}
  <section class="section section-circlesList">
    <div class="row">
      <div class="large-16 columns">
        <div class="list list-circles">
          <div class="list_item isSpecial">
            <div class="item_content">
              <p class="item_special">Your payment of <strong>£135</strong> is on its way <strong>via bank transfer</strong> nteger posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            </div>

            <div class="item_aside">
              <div class="placeholder-circle placeholder-large"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% set coloredPanel = {text: 'In the meantime, to be entered into our monthly cash giveaway, head over to our Facebook page and click on the contests tab. ', button: 'Enter monthly cash giveaway', className:'isBlue'} %}
  {% include '../sections/_section-coloredPanel.swig' with coloredPanel only %}
{% endblock %}
