<div class="sideNavBlock">
  <h5 class="side_title">Did you know?</h5>

  <div class="side_text">
    <p>Cras mattis consectetur purus sit amet fermentum.</p>
  </div>

  <a href="#" class="side_link">Find out more</a>
</div>
