<div class="sideNavBlock">
  <h5 class="side_title">Our help centres are on hand to assist you</h5>

  <div class="side_text">
    <p>Our team of trained professionals can service any emergency</p>
  </div>

  <a href="#" class="side_link">Find out more</a>
</div>
