/*****************************************************************************/
/* Anchors */
/*****************************************************************************/
a {
  font-size: 18px;
  font-weight: 700;
}

/*****************************************************************************/
/* Headings */
/*****************************************************************************/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h3 {
  color: $red-dark;
}

h5 {
  font-weight: 700;
}

/*****************************************************************************/
/* Paragraph */
/*****************************************************************************/
p {
  font-weight: 300;
}
