/*****************************************************************************/
/* Base */
/*****************************************************************************/
.button {
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 18px;

  background-color: $red-dark;

  &:hover {
    background-color: darken($red-dark, 8%);
  }
}

.button,
input[type="submit"].button {
  border-radius: $global-radius;
}

/*****************************************************************************/
/* Secondary */
/*****************************************************************************/
.button-secondary {
  background-color: $main-dark;

  &:hover {
    background-color: lighten($main-dark, 8%);
  }
}

/*****************************************************************************/
/* Ghost */
/*****************************************************************************/
.button-ghost {
  background-color: transparent;
  border: 1px solid $main-dark;
  color: $main-dark;

  &:hover {
    background-color: $main-dark;
    color: #fff;
  }
}

/*****************************************************************************/
/* Icons */
/*****************************************************************************/
.button.hasIcon {
  background-repeat: no-repeat;
  background-position: top 50% right 20px;

  &.button-large {
    padding-right: 100px;
  }

  &.play {
    &:before {
      content: "\f04b";

      margin-right: 15px;

      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}

.icon-envelope {
  background-image: url('/assets/img/form-icon.png');
}

/*****************************************************************************/
/* Size modifiers */
/*****************************************************************************/
.button-large {
  padding-top: 29px;
  padding-right: 45px;
  padding-bottom: 29px;
  padding-left: 45px;
}
