/*****************************************************************************/
/* Base */
/*****************************************************************************/
.table {
  margin-bottom: 20px;
  width: 100%;

  font-size: 18px;

  border-collapse: collapse;
}
  .table tr {
    border-bottom: 1px solid #e0e0e0;
  }
  .table th {
    padding-bottom: 15px;

    text-align: left;
  }

  .table td {
    padding-top: 15px;
    padding-bottom: 15px;
  }

@include breakpoint-lte(medium) {
  table, thead, tbody, th, td, tr,
  table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    display: block;
  }

  thead {
    display: none;
  }

  td {
    position: relative;

    &:before {
      padding-right: rem-calc(15);

      font-weight: 700;
      line-height: rem-calc(30) !important;
      white-space: nowrap;
    }
  }
}
