/*****************************************************************************/
/* Forms */
/*****************************************************************************/
@mixin form-text-inputs($textarea: true) {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"] {
    @content;
  }

  @if ($textarea) {
    textarea {
      @content;
    }
  } @else {

  }
}

@mixin form-inline-inputs() {
  input[type="file"],
  input[type="checkbox"],
  input[type="radio"] {
    @content;
  }
}

/*****************************************************************************/
/* Headings */
/*****************************************************************************/
@mixin headings() {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}
