/*****************************************************************************/
/* Margins */
/*****************************************************************************/
.mt-0 { margin-top: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }

.mt-40 { margin-top: 40px !important; }
.mr-40 { margin-right: 40px !important; }
.mb-40 { margin-bottom: 40px !important; }
.ml-40 { margin-left: 40px !important; }
