/*****************************************************************************/
/* Base */
/*****************************************************************************/
.interiorHeader {
  padding-top: 60px;
  padding-bottom: 70px;

  background-color: $teal-dark;
  color: #fff;

  text-align: center;

  @include breakpoint-lte(medium) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
  .interiorHeader_title,
  .interiorHeader_text {
    color: inherit;
  }

  .interiorHeader_title {
    font-weight: 600;
  }

  .interiorHeader_text {
    margin-bottom: 0;

    font-size: $h4-font-size;
    line-height: 28px;

    @include breakpoint-lte(medium) {
      font-size: $h4-font-size - $h4-font-reduction;
    }
  }
